<div id="odontogram">
</div>

<ul id="myMenu" class="contextMenu">
    <li class="prequired"><a href="#prequired">Pres Requerida (Azul)</a></li>
    <li class="pdone separator"><a href="#pdone">Pres Realizada (Rojo)</a></li>
    <li class="premovable"><a href="#premovable">Protesis Removible</a></li>
    <li class="pfixed separator"><a href="#pfixed">Protesis Fija</a></li>
    <li class="crown "><a href="#crown">Corona</a></li>
    <li class="eRequired"><a href="#eRequired">Extracción Requerida</a></li>
    <li class="tAusent separator"><a href="#tAusent">Diente Ausente</a></li>
    <li class="cSector"><a href="#cSector">Limpiar Sector</a></li>
    <li class="cAll"><a href="#cAll">Limpiar Todo</a></li>
</ul>